* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 20px;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  gap: 20px;
  font-family: "Outfit", sans-serif;
  background-color: hsl(0, 0%, 100%);
  max-width: 320px;
  padding: 20px;
}

.card__title {
  text-align: center;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-family: "Outfit", sans-serif;
}

.card__text {
    font-size: 15px;
    color: hsl(216, 15%, 48%);
    line-height: 1.5;
    font-weight: 400;
}
.card__image {
  width: 100%;
  border-radius: 15px;
  margin: auto;
}
 
.card__image img {
  width: 100%;
  display: block;
  border-radius: 15px;
  object-fit: cover;
  background-position: center;
}



@media screen and (max-width: 375px) {
  body {

    padding: 24px;
  }
}