* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --gray-500: hsl(0, 0%, 42%);
  --gray-950: hsl(0, 0%, 7%);
}

body {
  background-color: var(--yellow);
  font-family: 'Figtree', sans-serif;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 24px; /* para que no pegue en mobile */
}

.card-container {
  background-color: var(--white);
  border: 1px solid var(--gray-950);
  border-radius: 20px;
  box-shadow: 8px 8px 0 var(--gray-950);

  width: 100%;
  max-width: 380px; /* más cercano al reto y responsive */
  padding: 24px;

  display: flex;
  flex-direction: column;
  gap: 16px;
}

.image-figure img {
  width: 100%;
  border-radius: 12px;
  display: block;
}

.card__badge {
  background-color: var(--yellow);
  width: fit-content;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: 800;
  color: var(--gray-950);
  font-size: 14px;
}

.card_fecha{
  color: var(--gray-950);
  font-size: 14px;
  font-weight: 500;
}

.card__title{
  font-size: 24px;
  font-weight: 800;
  color: var(--gray-950);
}

.card__title:hover {
  color: var(--yellow);
  cursor: pointer;
}

.card__description{
  font-size: 16px;      /* ✅ guide */
  font-weight: 500;     /* ✅ guide */
  line-height: 1.5;
  color: var(--gray-500); /* ✅ guide */
}

.card__author {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-figure img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.author-name {
  font-weight: 800;
  color: var(--gray-950);
  font-size: 14px;
}
