
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

:root{
    --white: hsl(0, 0%, 100%);
    --green: hsl(75, 94%, 57%);
    --grey: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
  }
  
  html, body{
    background-color: var(--grey-900);
    font-family: 'Inter', sans-serif;
  }
  
  .card__profile{
    background-color: var(--grey-800);
  }
  
  .profile__bio{
    font-size: 14px;
    color: var(--grey);
    font-weight: 500;
  }
  

html, body{

    background-color: hsl(0, 0%, 8%);
}


.main__social{
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.profile__figure{
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}
.profile__figure >img{
    width: 100%;
    border-radius: 50%;
    display: block;

    
}

.card__profile{
    max-width: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    padding: 24px;
    border-radius: 20px;
    text-align: center;
    color: var(--white);
}

.profile__actions{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

}

.profile__btn{
    background-color: hsl(0, 0%, 20%);
    color: var(--white);
    padding: 12px;
    width: 100%;
    display: block;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
  }

  .profile__location{
    margin-top: 8px;
    margin-bottom: 20px;

    font-size: 16px;
    color: var(--green);
    font-weight: 600;
  }

  .profile__bio{

    font-size: 14px;
    color: hsl(0, 0%, 70%);
    font-weight: 500;
  }

  .profile__btn:hover{
    background-color: var(--green);
    color: hsl(0, 0%, 8%);
    cursor: pointer;
  }
  